In [5]:
#supervised learning :-

# Define problem
# collect & prepare data
# data pre procession
# feature engineering
# SelectModel
# split data
# train model
# validate
# evaluate on test
# iterate & improve
# Deploy

print(25+21+17.5+19)

82.5

In [25]:
import pandas as pd
df=pd.DataFrame({"room__l":[18,20,10,12,18,11],'room_b':[20,20,10,11,19,10]})
a=[]
for i in range(6):
    a.append(df.room__l[i]*df.room_b[i])
df['area']=a
df

   room__l  room_b  area
0       18      20   360
1       20      20   400
2       10      10   100
3       12      11   132
4       18      19   342
5       11      10   110